@import url('https://fonts.googleapis.com/css?family=Quicksand');

html{
    background-color: #EF7D1B;
    font-family: 'Quicksand', sans-serif;
}

/*button TERUG*/

.button{
    padding:0;
    float: right;
    margin-top: -17%;
    margin-right: 2%;
    height: 80px;
    width: 140px;
    font-size: 40px;
    background-color: #838383;
    border:1px solid #838383;
    border-radius: 10px;
    color: white;
}

/*Logo & titel*/

.title{
    border-radius: 80px;
    width: 85%;
    height: 8%;
    margin: 0 auto;
    margin-top: 20%;
}


.title img{
    height:8%;
    width: 100%;
}

p{
    text-align: center;
    font-size: 60px;
    color: #cbcbc0;

}

/*Contact*/

.contact{
    margin-top: 10%;
    color: white;
}

.contact h1{
    text-align: center;
    font-size: 60px;
}

.contact h2 {
    text-align: right;
    float: left;
    margin-left: 20%;
    font-size: 60px;
}

.contact .telnummer{
    float: left;
    margin-left: 5%;
}

.contact .mail2{
    float: left;
    margin-left: 5%;
}

.contact .mail{
    float: left;
    margin-left: 30%;
    margin-top: -3%;
}

.contact .adres2{
    float: left;
    margin-left: 5%;
}

.contact .adres{
    margin-top: -3%;
    margin-left: 30%    ;
}

.contact img {
    float: left;
    margin-left: 16%;
    height: 10%;
}


/*images social media*/

.images{
    background-color: #EF7D1B;
    bottom: 0;
    position: absolute;
}

.images .facebook{
    margin-left: 17%;
    height: 10%;
    width: 10%;
}

.images .linkedin{
    margin-left: 17%;
    height: 10%;
    width: 10%;
}

.images .twitter{
    margin-left: 17%;
    height: 10%;
    width: 10%;
}
table {
    width: 100%;
}
